[Unit]
Description=Create backing directory for /nix bind mount
DefaultDependencies=no
After=systemd-remount-fs.service
Before=nix.mount
Before=local-fs.target
RequiresMountsFor=/var

[Service]
Type=oneshot
ExecStart=/usr/bin/install -d -m 0755 -o root -g root /var/nix
RemainAfterExit=yes

[Install]
RequiredBy=nix.mount
