cosign.key
cosign.private
*.build
*.log
/tmp/
/dist/
*.tar
*.tar.gz
*.oci
.vscode/
.idea/
*.swp
/.bluebuild-scripts_*
__pycache__/
*.pyc
.venv/
.pytest_cache/
*.egg-info/
dist/
build/
*.iso
*.iso-CHECKSUM
.obsidian/
.zcode/

